* {
    box-sizing:border-box;
  }

body {
    background-color: #ddcba3;
    font-weight: 400;
    font-style: normal;
    font-family: "Shippori Mincho", serif;
}

html {
    scroll-behavior: smooth;
}

.pagetop {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #572915;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop img {
    height: 15px;
    width: 15px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 13%;
    background-color: white;
}

header img {
    width: 250px;
    height: 60px;
}

.contents {
    display: flex;
}

.contents a {
    position: relative;
    padding:15px;
    font-weight: bold;
    font-size: 15px;
}

.contents a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #B06134;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.contents a:hover::after {
    visibility: visible;
    top: 38px;
    opacity: 1;
}

.eye-catch {
    position: relative;
}

.pc {
    width: 100%;
}

.sp {
    width: 100%;
    display: none;
}

.text p {
    display: none;
}

.left img {
    position: absolute;
    color: white;
    top: 350px;
    left: 5px;
    width: 25px;
    height: 25px;
}

.right img {
    position: absolute;
    color: white;
    top: 350px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.boxes {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.box1 {
    width: 30px;
    height: 7px;
    background-color: rgb(92, 92, 92);
    border:1px white solid;
    margin: 0 5px;
}

.introducation {
    width: 100%;
}

.explaination {
    background-image: url(farine.png);
    width: 100%;
    height: 630px;
    color: white;
    margin: 100px 0;
    display: flex;
    flex-direction:column ;
    justify-content:center ;
}

.explaination h2 {
    font-size: 37px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

}

.explaination h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.explaination h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.explaination p {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.btn-introducation {
    display: flex;
    justify-content: center;
}

.btn {
    padding:15px 25px;
    border:  1px solid;
    color: white;
    border-radius:8px;
    margin-top:30px;
}

.btn:hover {
    background-color: #572915cb;

}

.btn2:hover {
    opacity: 0.8;
}

.btn img {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.viewmore {
    display: flex;
    align-items: center;
}

.item {
    width: 100%;
}

.item h1 {
    width: 100%;
    border-top: 2px #d6c49e solid;
    padding-top: 100px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    color: #572915;
    font-size: 37px;
    font-weight: bold;

}

.item h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #572915;
}

.item p {
    display: flex;
    justify-content: center;
    color: #B06134;
    font-size: 25px;
    padding-top: 10px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    border-bottom: 2px #d6c49e solid;
}

.picture img {
    width: 350px;
    margin: 10px 15px;
}

.first {
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.onlineshop {
    display: flex;
    justify-content: center;
    color: white;
}

.guid {
    background-image:url(present.png) ;
    width: 1110px;
    height: 486px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
}

.waku {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waku h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 65px;
}

.waku p {
    padding-top: 1%;
    padding-bottom: 3px;
}

.news {

    width: 100%;
    padding:100px 200px ;
}

.announce h2 {
    display: flex;
    justify-content: center;
    color: #572915;
    font-size: 37px;
    font-weight: bold;
    border-top: 2px #d6c49e solid;
    padding-top: 100px;
    padding-bottom: 50px;
}

.announce a {
    color: #572915;
    font-size: 17px;
    padding-top: 20px;
    display: block;
}

.announce p {
    color: #5729158b;
    border-bottom: 2px #d6c49e solid;
    padding-bottom: 15px;
    padding-top: 7px;
}

.osirase {
    padding: 0 150px;
}

.shop {
    background-color: #FFF3D8;
    color: #572915;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.map {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.map iframe {
    padding:0 15px;
}

.shop h2 {
    display: flex;
    justify-content: center;
    font-size: 37px;
    font-weight: bold;
    padding-bottom: 100px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 170px;

}

.address h3 {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 45px;
}

.address p {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.btn-shop {
    display: flex;
    justify-content: center;
}

.btn-shop img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #572915;
}

.btn2 {
    padding:15px 25px;
    border:  1px solid;
    color: white;
    border-radius:8px;
    margin-top:30px;
}

.recruit {
    display: flex;
    justify-content: center;
    color: white;
}

.staff {
    background-image: url(recruit.png);
    width: 1110px;
    height: 486px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 100px;
}

.waku2 {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waku2 h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 65px;
}

.waku2 p {
    padding-top: 1%;
    padding-bottom: 3px;
}

.contact {
    background-color: #FFF3D8;
    color: #572915;
    margin-bottom: 100px;
}
.contact h2 {
    display: flex;
    justify-content: center;
    font-size: 37px;
    font-weight: bold;
    padding-bottom: 70px;
}

.otoiawase {
    display: flex;
    justify-content: center;
}

.contact-form {
    padding: 100px 0;
}

.btn-contact {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-contact img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.job {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #572915;
}

footer {
    border-top: 1px #572915 solid;
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 15px 0;
}

/*PC用*/
@media screen and (max-width: 1920px) {
    .pc { display: block !important;}
    .sp { display: none !important ;}
}

/*大型タブレット用*/
@media screen and (max-width: 1280px) {
    header {
        padding: 0 3%;
    }
    
    header img {
        width: 200px;
        height: 50px;
    }
    
    .contents a {
        padding:5px;
        font-size: 13px;
    }

    .osirase {
        padding: 0 5%;
    }

    .address {
        padding:0 7%;
    }
}


/*小型タブレット*/
@media screen and (max-width:768px) {
    header {
        padding: 0 5%;
    }
    
    .contents {
        display: none;
    }

    .boxes,.right,.left {
        display: none;
    }

    .waku {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .news {
        padding: 100px;
    }

    .osirase {
        padding: 0%;
    }

    .map {
        flex-direction: column-reverse;

        margin: 0 5px;
    }

    .map iframe {
        width: 100%;
        height: 350px;
        margin-top: 50px;
    }

    .shop h2 {
        padding-bottom: 0px;
    }

    .address {
        display: block;
        padding: 0%;
    
    }
    
    .address h3 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 45px;
        margin-top: 50px;
    }
    
    .address p {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .staff {
        background-image: url(recruittr.png);
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 100px;
    }

    .waku2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/*スマホ用*/
@media screen and (max-width: 414px) {
    header {
        width: 100%;
        height: 70px;
        padding: 5%;
    }
    header img {
        width: 160px;
        height: 40px;
    }
    
    .contents {
        display: none;
    }
    .pc {
        display: none !important; }
    .sp { 
        display: block !important;
    }

    .text {
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 25px;
        font-weight:550;
        color: white;
    }

    .text p {
        display: flex;
        justify-content: center;
    }

    .boxes,.right,.left {
        display: none;
    }

    .explaination {
        margin-top: 100px;
        height: 500px;
    }

    .explaination h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .explaination h3 {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        margin: 30px;
        font-size: 15px;
    }
    
    .explaination h4 {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 15px;
    }
    
    .explaination p {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 15px;
    }

    .item h1 {
        font-size: 30px;
    }

    .item p {
        font-size: 20px;
        padding-top: 10px;
    }

    .picture {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }
    
    .picture img {
        width: 100%;
        padding: 0 5% ;
    }
    
    .first {
        width: 1300px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .news {

        width: 100%;
        padding: 0 5%;
        padding-bottom: 100px;
    }
    
    .announce h2 {
        display: flex;
        justify-content: center;
        color: #572915;
        font-size: 30px;
        font-weight: bold;
        border-top: 2px #d6c49e solid;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .announce a {
        font-size: 17px;
    }
    
    .osirase {
        padding: 0 5% ;
    }

    .guid {
        background-image:url(presentsp.png) ;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 100px;
    }

    .waku h2 {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 65px;
    }
    .waku p {
        font-size: 15px;
    }

    .staff {
        background-image: url(recruitsp.png);
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 100px;
    }

    .shop h2 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 0%;
    }
    
    .map {
        flex-direction: column-reverse;

        margin: 0 5px;
    }

    .map iframe {
        width: 100%;
        height: 350px;
        margin-top: 50px;
    }

    .address {
        display: block;
        padding: 0%;
    
    }
    
    .address h3 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 45px;
        margin-top: 50px;
    }
    
    .address p {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .otoiawase {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
  }